body{
  display:flex;
  justify-content:center;
}

.carrito img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 10px;
}

img {
  width: 100%;
}

.app{
  max-width:420px;
}

.item{
  display:flex;
  justify-content:space-between;
}

.btn{
  display:inline-block;
  margin-top:15px;
  background:#7cf382;
  color:rgb(10, 10, 10);
  padding:10px 20px;
  border-radius:10px;
  text-decoration:none;
}