body{
  margin:0;
  font-family:'Poppins', sans-serif;
  background:#eef2f3;
  display:flex;
  justify-content:center;
}

.app{
  max-width:420px;
  width:100%;
  background:#c0d5eb;
  min-height:100vh;
}

.header{
  display:flex;
  justify-content:space-between;
  padding:15px;
}

.perfil{
  text-align:center;
  padding:20px;
}

.avatar{
  width:80px;
  border-radius:50%;
  margin-bottom:10px;
}

input{
  width:100%;
  padding:10px;
  margin:8px 0;
  border-radius:10px;
  border:none;
}

button{
  width:100%;
  padding:12px;
  background:#2e7d32;
  color:rgb(253, 252, 252);
  border:none;
  border-radius:10px;
}

.btn{
  display:block;
  margin-top:10px;
  text-decoration:none;
  color:white;
  background:#444;
  padding:10px;
  border-radius:10px;
}

.logout{
  background:#c62828;
}