body{
  display:flex;
  justify-content:center;
  background:#eef2f3;
}

.app{
  max-width:420px;
}

img{
  width:100%;
}

.color{
  width:25px;
  height:25px;
  border-radius:50%;
  display:inline-block;
}

.negro{background:black;}
.rojo{background:red;}

.btn-full{
  display:block;
  background:green;
  color:white;
  padding:12px;
  text-align:center;
}